body {
    color: #333;
    font-size: 12px;
    line-height: 180%;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box;
}


div,span,p,htm,body,h1,h2,h3,h4,h5,img,form,table,video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

* {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0 none;
}

a {
    color: #333333;
    text-decoration: none;
}

ul, ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.row-flow {
    margin: 0;
    width: 100%;
}

.row-flow:before, .row-flow:after {
    content: "";
    display: table;
    line-height: 0;
}

.row-flow:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

.row-flow [class*="column"] {
    float: left;
    box-sizing: border-box;
    display: block;
    float: left;
    margin: 0px;
    min-height: 30px;
    overflow: hidden;
}

.clear:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}

.fnleft {
    float: left;
}

.fnright {
    float: right;
}

.box {
    margin-top: 10px;
}

.box .title {
    background: #D63321;
    color: #FFF;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    width: 99%;
    border-bottom: 1px solid #D63321;
}

.box .title strong {
    width: 200px;
    color: #3c8dbc;
    font-size: 18px;
    display: block;
    text-align: center;
}

.box .title ul {
    background-image: url("../images/title-bg.gif");
    background-repeat: repeat-x;
    color: #0185d8;
    height: 27px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.box .title ul li {
    background-image: url("../images/title-tab-bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    color: #4465a2;
    cursor: pointer;
    float: left;
    font-size: 12px;
    height: 20px;
    padding: 7px 12px 0;
    text-align: center;
}

.box  .content {
    border-bottom: 1px solid #e6e8eb;
    border-left: 1px solid #e6e8eb;
    border-right: 1px solid #e6e8eb;
    height: auto;
    overflow: hidden;
    padding-bottom: 0;
    width: 99%;
    min-height: 220px;
}

.box  .content .image-items {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.box .content .image-items .image-item {
    float: left;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 20px;
    /*border:1px solid #6e6e6e;*/
}

.box .content .image-items .image-item img:hover {
    border: 1px solid #337ab7;
}

.box .content .image-items .image-item .text-info {
    height: 26px;
    line-height: 26px;
    width: 100%;
    text-align: center;
    color: #4465a2;
}

.box .content ul {
    margin-bottom: 6px;
}

.box .content ul li {
    padding-left: 20px;
    border-bottom: 1px solid #f2f2f2;
    height: 28px;
    line-height: 28px;
    text-overflow: ellipsis;
}

.grid-box {
    border-color: #188eee #DDDDDD #DDDDDD;
    border-style: solid;
    border-width: 3px 1px 1px;
}

.grid-box .title {
    border-bottom: 1px solid #188eee;
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 700;
    padding-left: 20px;
    padding-bottom: 5px;
}

.grid-box .content {
    min-height: 300px;
}

.grid-box .content ul li {
    border-bottom: 1px solid #F2F2F2;
    overflow: hidden;
    width: 310px;
    height: 28px;
    line-height: 28px;
}

.grid-box .content li a {
    color: #888888;
    padding: 8px 0 8px 20px;
}

.gray-box {
    border: 1px solid #e6e6e6;
    overflow: hidden;
}

.gray-box .title {
    background: url("../images/spritebg.png") no-repeat scroll 0 0;
    background-position: 0 -120px;
    background-repeat: repeat-x;
    border: 1px solid #fff;
    height: 37px;
}

.gray-box .title i {
    background: url("../images/spritebg.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 24px;
    margin: 6px 6px 0 8px;
    overflow: hidden;
    width: 24px;
}

.gray-box .title i.icon-hot {
    background-position: 0 -252px;
}

.gray-box .title i {
    background: url("../images/spritebg.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 24px;
    margin: 6px 6px 0 8px;
    overflow: hidden;
    width: 24px;
}

.gray-box .title h2 {
    font-size: 14px;
    margin: 7px 0 0;
    color: #707e91;
}

.gray-box .content {
    height: auto;
    padding-bottom: 0;
    width: 100%;
    border: 1px solid #e6e6e6;
}

.gray-box .content li {
    border-top: 1px solid #e6e6e6;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 100%;
}

.gray-box .content li img {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    display: none;
    float: left;
    padding: 2px;
}

.gray-box .content li.current img {
    display: block;
}

.gray-box .content li.current {
    height: 98px;
    overflow: hidden;
    padding: 10px 0px;
}

.gray-box .content li span.number {
    background: url("../images/spritebg.png") no-repeat;
    color: #fff;
    display: inline;
    float: left;
    font-family: Arial;
    font-size: 10px;
    font-weight: 800;
    height: 14px;
    line-height: 12px;
    margin: 8px 0 0 10px;
    overflow: hidden;
    text-align: center;
    width: 14px;
}

.gray-box .content li span.yellow-number {
    background-position: -144px -252px;
}

.gray-box .content li span.gray-number {
    background-position: -158px -252px;
}

.gray-box .content li .text-info dd {
    display: none;
}

.gray-box .content li.current .text-info dd {
    display: block;
}

.gray-box .content li .text-info dt {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}

.gray-box .content li .text-info {
    height: 20px;
    margin-top: 4px;
    margin-left: 10px;
    overflow: hidden;
    width: 150px;
    float: left;
}

.gray-box .content li.current .text-info {
    height: 98px;
    margin-top: 0;
    overflow: hidden;
    width: 170px;
}

.gray-box .content .image-items {
    height: auto;
    overflow: hidden;
    width: 100%;
}

.gray-box .content .image-items .image-item {
    float: left;
    overflow: hidden;
    border: 1px solid #6e6e6e;
}

.gray-box .content .image-items .image-item .text-info {
    height: 26px;
    line-height: 26px;
    color: #4465a2;
    width: 100%;
    text-align: center;
}

.gray-box .content .image-items .margin-right20 {
    margin-right: 20px;
}

.white-paper {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(131, 147, 167, 0.12);
}

.nav-bottom {
    height: 38px;
}

/**字母索引＊*/
.alphabet-index {
    border: 1px solid #e6e8eb;
    font-size: 14px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    margin-bottom: 2px;
    padding: 8px 0;
}

.alphabet-index a, .alphabet-index a:visited {
    background: url("../images/title_bg.gif") no-repeat scroll -540px -49px
    rgba(0, 0, 0, 0);
    color: #1a639a;
    display: inline-block;
    font-size: 14px;
    height: 22px;
    margin: 0 5px;
    padding: 0;
    text-align: center;
    width: 22px;
}

.alphabet-index .label {
    color: #4095d8;
    float: left;
    font-size: 16px;
    padding-right: 20px;
}

.box .content .image-items .image-item a img {
    width: 200px;
    height: 200px;
}

.box .content .image-items .image-size {
    width: 203px;
    height: 230px;
    border: 1px soild #dcdcdc;
}

.box .content .image-items .image-size .text-info {
    width: 200px;
    height: 230px;
}

.gray-box .content .image-items .image-item a img {
    width: 75px;
    height: 75px;
}

.gray-box .content .image-items .image-item-size {
    width: 75px;
    height: 75px;
}

/*表格控件*/
.description-title {
    clear: both;
    color: #4D4D4D;
    display: block;
    overflow: hidden;
    position: relative;
    border-bottom: 2px solid #ff4400;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.description-title h2 {
    float: left;
    color: #FF4400;
    font: 700 18px/20px "STHei", "Microsoft YaHei", "WenQuanYi Micro Hei";
}

.description-title .subtitle {
    float: left;
    padding: 3px 0 0 28px;
    color: #f40 !important;
}

.description-title .subtitle a {
    font-size: 14px;
    color: #f40 !important;
}

.description-title .subtitle a:before {
    content: "+";
    font-size: 18px;
    font-weight: 900;
}

.red-button {
    border: #cf5413 1px solid;
    padding: 8px 20px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    background: #ff6c1e;
    line-height: 1em;
    font-family: "Microsoft Yahei";
    font-weight: bold;
}

.orange-href {
    border: rgb(255, 153, 0) 1px solid;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    background: rgb(255, 153, 0);
    line-height: 1em;
    font-family: "Microsoft Yahei";
    font-weight: bold;
}

.edit-table {
    border: 1px solid #EDECFF;
}

.edit-table th, .common-table .title {
    padding: 0.5em;
    font-weight: 700;
}

.edit-table td {
    padding: 0.4em;
    border-bottom: 1px solid #F3F3F3;
}

.edit-table input[type="text"], .edit-table input[type="password"] {
    padding: 2px;
    padding-left: 4px;
    padding-top: 4px;
    line-height: 22px;
    height: 22px;
    border: 1px solid;
    border-color: #adadad #e0e0e0 #e0e0e0 #adadad;
    font: 12px/18px Arial, "宋体";
    vertical-align: middle;
    color: #000;
    width: 250px;
    margin-right: 10px;
    background: #fcfcfc;
}

.edit-table select {
    padding: 2px;
    padding-left: 4px;
    padding-top: 4px;
    line-height: 32px;
    height: 32px;
    border: 1px solid;
    border-color: #adadad #e0e0e0 #e0e0e0 #adadad;
    font: 12px/18px Arial, "宋体";
    vertical-align: middle;
    color: #000;
    width: 250px;
    margin-right: 10px;
    background: #fcfcfc;
}

.browser-table label {
    margin-bottom: 5px;
}

.browser-table {
    border: 1px solid #EDECFF;
}

.browser-table th, .common-table .title {
    padding: 0.5em;
    font-weight: 700;
}

.browser-table td {
    padding: 0.4em;
    border-bottom: 1px solid #F3F3F3;
}

.list-grid {
    margin: 0px;
    border: 1px solid #CCCCCC;
}

.list-grid thead th {
    background: -moz-linear-gradient(center top, #F8F8F8, #F2F2F2) repeat
    scroll 0 0 transparent;
    background-color: #F8F8F8;
    border-bottom: 1px solid #CCCCCC;
    height: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: 500;
}

.list-grid tbody td {
    border-bottom: 1px solid #E6E6E6;
    padding: 10px 0;
    vertical-align: top;
    text-align: center;
}

.oddRow {
    background-color: #ffffff;
}

.evenRow {
    background-color: #F7F7F7;
}

.activeRow {
    background-color: #CCCCCC;
}

.footer .content {
    background-color: #404144;
    height: 40px;
    line-height: 40px;
    bottom: 0px;
    left: 0px;
    color: #fff;
    width: 100%;
}

.row-flow .label {
    color: #555;
    float: left;
    font-weight: bold;
    padding: 5px 10px;
    width: 76px;
    font-size: 14px;
    line-height: 25px;
}

.row-flow  .description {
    float: left;
    color: #333;
    font-size: 14px;
    line-height: 25px;
    padding: 5px 0;
}

.discard-price {
    text-decoration: line-through;
}

.form {
    padding: 8px 15px;
    overflow: hidden;
}

.form .title {
    border-bottom: 2px solid #218fd5;
    color: #218fd5;
    height: 20px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
}

.form .grid-row {
    border-bottom: 1px dashed #ddd;
    min-height: 31px;
    padding-top: 6px;
    padding-bottom: 12px;
}

.form .grid-row .label {
    color: #999;
    float: left;
    font-weight: 800;
    font-size: 14px;
    padding-right: 10px;
    text-align: right;
    width: 120px;
}

.form .grid-row .description {
    float: left;
    margin-left: 12px;
}

.form .grid-row:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.form:after {
    content: "";
    display: block;
    line-height: 0;
    clear: both;
}

.form  input[type=text], .form  input[type=password] {
    padding: 9px 6px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 0;
    padding: 8px 6px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    vertical-align: middle;
}

.clearfix:after {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
}

label.error {
    background: url("../images/error-tip.jpg") no-repeat scroll 2px 3px;
    background-color: #ffebeb;
    color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 85, 85);
    clear: both;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 8px 10px 8px 26px;
    width: 298px;
}

/***页面标题**/
.page-title {
    background-color: #ffebeb;
    border: 1px solid #d9e3e5;
    font-size: 14px;
    padding: 2px 20px;
    font-weight: bold;
    height: 34px;
    color: #e50011;
    line-height: 34px;
}

.totalpagebox {
    border: #f40 1px solid;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    margin: 0px 5px;
    color: #f40;
    padding-top: 0px;
    text-decoration: none;
    font-size: 14px;
}

div.digg {
    padding: 6px;
}

.digg a {
    border: #f40 1px solid;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 2px;
    color: #f40;
    text-decoration: none;
}

.digg a:hover {
    border-right: #000099 1px solid;
    border-top: #000099 1px solid;
    border-left: #000099 1px solid;
    color: #000;
    border-bottom: #000099 1px solid;
}

.digg a:active {
    border-right: #000099 1px solid;
    border-top: #000099 1px solid;
    border-left: #000099 1px solid;
    color: #000;
    border-bottom: #000099 1px solid;
}

.digg span.current {
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
    padding-bottom: 2px;
    margin: 2px;
    color: #fff;
    padding-top: 2px;
    border: rgb(255, 153, 0) 1px solid;
    background-color: rgb(255, 153, 0);
}

.digg span.disabled {
    border-right: #eee 1px solid;
    padding-right: 5px;
    border-top: #eee 1px solid;
    padding-left: 5px;
    padding-bottom: 2px;
    margin: 2px;
    border-left: #eee 1px solid;
    color: #ddd;
    padding-top: 2px;
    border-bottom: #eee 1px solid;
}

.pageindex-input {
    color: #f40;
    width: 120px;
    text-align: center;
    margin-right: 12px;
    border: 1px solid #f40;
}

.ui-input {
    border: 1px solid #C1C1C1;
    color: #343434;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 6px;
    vertical-align: middle;
    width: 170px;
}

.video-cover-fluid {
    margin: 0px 0px 0px 0px;
    background: #fff;
    display: block;
}

.video-cover-fluid .title {
    border-bottom: 2px solid #45B6F7;
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #45b6f7
}

.video-cover-fluid ul {
    border: #dadada 1px solid;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 0px;
    padding-top: 15px;
    background: #fff;
    overflow: hidden;
}

.video-cover-fluid ul li {
    width: 200px;
    float: left;
    margin-left: 10px;
    height: 240px;
    position: relative;
}

.video-cover-fluid li img {
    border: #aaa 1px solid;
    width: 200px;
    height: 200px;
}

.video-cover-fluid li img:hover {
    border: #04a219 2px solid;
}

.video-cover-fluid li span {
    display: block;
    text-align: center;
    text-overflow: ellipsis
}

.video-cover-fluid li span a {
    white-space: nowrap;
    overflow: hidden;
    width: 160px;
    text-decoration: none;
    display: block;
    text-overflow: ellipsis;
}

.video-cover-fluid li span a:hover {

}
/**/
.video-cover-fluid li .vedio-play-button:before {
    content: "▶";
    font-family: VideoJS;
    /* In order to center the play icon vertically we need to set the line height
     to the same as the button height */
    line-height: 1.6em;
    text-shadow: 0.05em 0.05em 0.1em #000;
    text-align: center /* Needed for IE8 */;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-cover-fluid li .vedio-play-button {
    background-color: rgba(7, 20, 30, 0.7);
    border: 0.1em solid #3b4249;
    border-radius: 0.2em;
    box-shadow: 0 0 1em rgba(255, 255, 255, 0.25);
    cursor: pointer;
    display: block;
    font-size: 3em;
    height: 1.6em;
    left: 20px;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 60px;
    transition: all 0.4s ease 0s;
    vertical-align: middle;
    width: 2em;
    z-index: 2;
}

.video-cover-fluid li .vedio-play-button:hover {
    outline: 0;
    border-color: #fff;
    /* IE8 needs a non-glow hover state */
    background-color: #505050;
    background-color: rgba(50, 50, 50, 0.75);
    /* box-shadow */
    -webkit-box-shadow: 0 0 3em #ffffff;
    -moz-box-shadow: 0 0 3em #ffffff;
    box-shadow: 0 0 3em #ffffff;
    /* transition */
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}

.gobal-title {
    background: url("../images/bg_x.png") repeat-x scroll 0 -44px;
    border-left: 1px solid #dddddd;
    cursor: default;
    font-family: Microsoft YaHei;
    font-size: 14px;
    font-weight: 700;
    height: 34px;
    line-height: 34px;
    margin-left: -1px;
    text-align: left;
    padding-left: 20px;
}

.picture-box2 {
    margin: 0px 0px 0px 0px;
    background: #fff;
    display: block;
}

.picture-box2 .title {
    background-color: #F6F6F6;
    border-bottom: 2px solid #FF6C1E;
    border-top: 1px solid #DFDFDF;
    height: 26px;
}

.picture-box2 .title dt {
    font: bold 14px/35px "Microsoft Yahei";
    background: #FF6C1E;
    color: White;
    width: 150px;
    text-align: center;
}

.green.title dt {
    background: #8cac52;
}

.blue.title dt {
    background: #3b8dd1;
}

.title dd span {
    line-height: 35px;
    float: right;
    color: #999;
    font-size: 12px;
    margin-right: 10px;
}

.picture-box2 ul {
    border: #dadada 1px solid;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 0px;
    padding-top: 15px;
    background: #fff;
    overflow: hidden;
}

.picture-box2 ul li {
    width: 160px;
    float: left;
    margin-left: 10px;
    height: 180px;
}

.picture-box2 li img {
    border: #aaa 1px solid;
    width: 160px;
    height: 130px;
}

.picture-box2 li img:hover {
    border: #f60 2px solid;
}

.picture-box2 li span {
    display: block;
    text-align: center;
    text-overflow: ellipsis
}

.picture-box2 li span a {
    white-space: nowrap;
    overflow: hidden;
    width: 160px;
    text-decoration: none;
    display: block;
    text-overflow: ellipsis;
}

.picture-box2 li span a:hover {

}


.picture-box2 {
    margin: 0px 0px 0px 0px;
    background: #fff;
    display: block;
}

.picture-box2 .title {
    background-color: #F6F6F6;
    border-bottom: 2px solid #FF6C1E;
    border-top: 1px solid #DFDFDF;
    height: 26px;
}

.picture-box2 .title dt {
    font: bold 14px/35px "Microsoft Yahei";
    background: #FF6C1E;
    color: White;
    width: 150px;
    text-align: center;
}

.green.title dt {
    background: #8cac52;
}

.blue.title dt {
    background: #3b8dd1;
}

.title dd span {
    line-height: 35px;
    float: right;
    color: #999;
    font-size: 12px;
    margin-right: 10px;
}

.show-details {
    background-color: white;
    overflow: hidden;
    padding: 8px 12px;
}

.show-details .picture-box {
    background: #f9f9fa;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
    padding: 0px;
    margin-left: 12px;
    width: 272px;
    float: left;
    min-height: 285px;
}

.show-details .picture-box .operation {
    height: 105px;
    margin-top: -2px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
}

.show-details .picture-box .operation .title {
    font-size: 18px;
    color: #fff;
    line-height: 1.2em;
    padding-top: 12px;
}

.picture-box  img {
    width: 272px;
    height: 305px;
}

.show-details .text-box {
    width: 660px;
    padding-left: 45px;
    float: left;
}

.show-details .text-box h1, .show-details .text-box .title {
    font-size: 35px;
    line-height: 1.2em;
    color: #333;
    font-weight: 800;
}

.text-box .sub-title {
    background: #444;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    margin-top: 35px;
    padding: 0 10px;
    border-radius: 3px;
    zoom: 1;
}

.text-box ul {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.text-box ul li {
    position: relative;
    zoom: 1;
    padding: 9px 0 9px 95px;
    line-height: 1.5em;
    font-size: 13px;
    border-bottom: 1px dotted #999;
}

.text-box ul li strong {
    width: 95px;
    font-size: 14px;
    line-height: 1.5em;
}

.text-box .brief-title {
    font-size: 14px;
    margin-top: 12px;
}

.text-box .brief-content {
    marign-top: 18px;
    line-height: 20px;
    font-size: 13px;
}

.btn-ticket {
    background: #f77603;
    border-radius: 18px;
    color: #fff;
    width: 195px;
    height: 35px;
    font-size: 20px;
    line-height: 36px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: relative;
    zoom: 1;
    letter-spacing: 2px;
    margin-top: 5px;
}

.ticket-price {
    padding: 12px 2px;
    width: 260px;
    height: 40px;
    overflow: hidden;
    font-size: 18px;
    color: #ff9300;
}

.button {
    line-height: 36px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 600px;
    background-color: #188eee;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    border-radius: 2px;
    border: 0;
    user-select: none;
    padding: 2px 22px;
}

.line-title {
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #45b6f7;
}

.round-block {
    background: #fff;
    padding: 50px 15px;
    border-radius: 2px;
    margin-bottom: 20px;
    overflow: hidden;
}

.brief-title {
    font-size: 24px;
    line-height: 40px;
    margin-top: 12px;
    padding-left: 24px;
    border-bottom: 3px solid #00ba8b;
    color: #00ba8b;
}

.brief-content {
    line-height: 30px;
    font-size: 16px;
    padding-left: 24px;
    margin-top: 22px;
    min-height: 300px;
}

.footer-page {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}

.footer-page a {
    color: #99979c;
}

.blue-box {
    margin-bottom: 6px;
}

.blue-box .blue-box-title {
    background: none repeat scroll 0 0 #3c8dbc;
    color: #FFFFFF;
    height: 23px;
    padding: 5px 8px 0;
}

.blue-box .blue-box-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DADADA;
    border-style: solid;
    border-width: 1px;
    padding: 8px 12px;
    min-height: 120px;
}

.blue-box .blue-box-content li {
    background: url("../images/icon3.gif") no-repeat scroll 0 7px
    rgba(0, 0, 0, 0);
    height: 24px;
    line-height: 190%;
    overflow: hidden;
    padding-left: 20px;
}

.blue-box ul li span {
    color: #339933;
    float: right;
}

.dazhe {
    font-size: 12px;
    font-weight: 100;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 30px;
}

.normal-price {
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    margin-right: 30px;
}

/**首页商品导航**/
.index-sp-nav {
    position: absolute;
    padding-top: 1px;
    min-height: 500px;
    background: #fff;
    clear: left;
    width: 200px;
    _padding-top: 2px;
    overflow: visible;
    z-index: 10000;
    display: none;
}

.index-sp-nav .nav-items .menu-item {
    padding-left: 2px;
    border-bottom: 1px solid #CCC;
    width: 196px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #CCC;
}

.menu-item .menu-title {
    padding: 0px 10px;
    line-height: 30px;
}

.menu-item .menu-title .tip-icon {
    font-family: "新宋体";
    color: #333;
    float: left;
    margin-right: 10px;
}

.menu-item .menu-content .link, .menu-item .menu-content ul li {
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    font-family: "新宋体";
    color: #666;
}

.sysconfig .title {
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #dadada;
    height: 40px;
    padding: 12px 5px 2px 30px;
    line-height: 40px;
}

.sysconfig .content {
    line-height: 26px;
    font-size: 18px;
    padding: 20px 40px;
}

.box-bar {

}

.box-bar .title {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #000;
    padding-left: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.box-bar .content {

}

.box-bar .content ul li {
    margin: 8px 5px;
    float: left;
}

.box-bar .content ul li a {
    padding: 6px 8px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    color: #333;
}

.box-bar .content ul li a:hover {
    background: #f40;
    color: #fff;
    font-weight: 400;
}
/*
**  图文容器
*/
.box-bar .content .it-container {

}

.box-bar .content .it-container .item, .box-bar .content .it-container dl dd
{
    width: 98%;
    text-align: center;
    border-bottom: #cdcdcd 1px dotted;
}

.box-bar .content .it-container .item .img, .box-bar .content .it-container dl dd .img
{
    width: 120px;
    height: 120px;
}

.box-bar .content .it-container .item .name, .box-bar .content .it-container dl dd .name
{
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    overflow: hidden;
    font-size: 14px;
    color: #333;
}

.box-bar .content .it-container .item  .weight-tip, .box-bar .content .it-container dl dd  .weight-tip
{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.filter-box {
    line-height: 36px;
    margin-top: 15px;
    padding: 8px 20px;
    border: 1px solid #e5e5e5;
    width: 90%;
    overflow: hidden;
}

.filter-box:before, .filter-box:after, .filter-box .item:before,
.filter-box .item:after {
    content: '';
    display: table;
}

.filter-box .item .label,.filter-box .item .title {
    width: 80px;
    font-weight: 700;
    color: #333;
    float: left;
}

.filter-box .item .content-list {
    width: 700px;
    float: left;
}

.filter-box .item .content-list ul li {
    margin-right: 10px;
    float: left;
}

.filter-box .item .content-list ul li a {
    padding: 6px 8px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
}

.filter-box .item .content-list ul li a:hover {
    background: #f40;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.control-group {
    overflow: hidden;
    font-size: 0px;
}

.control-group:after, .control-group:before {
    content: '';
    display: table;
}

.control-group .label {
    width: 80px;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
}

.control-group .input-control {
    width: 45px;
    height: 33px;
    line-height: 33px;
    outline: none;
    font-size: 18px;
    text-align: center;
    border: 1px solid #e1e1e1;
}

.control-group .group-btn {
    height: 35px;
    line-height: 35px;
    min-width: 80px;
    margin: 0px;
    color: #333;
    background-color: #f6f6f6;
    display: inline-block;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

ul.payment_list li {
    width: 126px;
    height: 53px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 2px;
    background-color: #dadada;
    cursor: pointer;
    float: left;
    position: relative;
}

ul.payment_list li.active, ul.payment_list li:hover {
    background-color: #ff2f2f;
}

ul.payment_list li img {
    width: 126px;
    height: 53px;
}

.news {
    background: url("../images/news-bg.gif") repeat-x scroll 0 0 #fff;
    border-color: #dadada;
    border-style: solid;
    border-width: 1px;
    padding: 8px 15px;
}

.news h1, .news .title {
    padding: 20px 0 10px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.news H5, news .subtitle {
    border-bottom: 1px solid #eee;
    color: #999;
    height: 26px;
    text-align: center;
}

.news .content {
    font-size: 14px;
    overflow: hidden;
    padding: 0 6px;
    word-break: break-all;
}

.shangpin-info {
    overflow: hidden;
    margin-bottom: 12px;
}

.shangpin-info:after {
    content: "";
    display: table;
}

.shangpin-info .pic {
    width: 468px;
    height: 468px;
    border: 1px solid #dcdcdc;
    float: left;
}

.shangpin-info .pic img {
    width: 468px;
    height: 468px;
}

.shangpin-info .props {
    margin-left: 20px;
    width: 690px;
    float: right;
}

.shangpin-info .props .title {
    height: 30px;
    overflow: hidden;
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.shangpin-info .props .subtitle {
    max-height: 48px;
    line-height: 24px;
    margin-top: 20px;
    overflow: hidden;
    font-size: 14px;
    color: #999;
}

.price-block {
    height: 65px;
    margin-top: 10px;
    padding: 20px 25px 10px 25px;
    background-color: #f8f8f8;
    position: relative;
}

.price-block  .bq {
    position: absolute;
    left: 220px;
    top: 10px;
    width: 100px;
    height: 80px;
    background-image: url(../images/bq2.png);
    overflow: hidden;
    -moz-transform: rotate(27deg);
    -webkit-transform: rotate(27deg);
    -o-transform: rotate(27deg);
    -ms-transform: rotate(27deg);
    transform: rotate(27deg);
}

.price-block  .bq  .tip {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin-top: 25px;
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    font-weight: normal !important;
    color: #fff !important;
}

.price-block .market-price {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #333;
    text-decoration: line-through;
}

.price-block .market-price .label {
    width: 60px;
    display: inline-block;
    font-size: 14px;
    color: #333;
}

.price-block .market-price .discount {
    width: 55px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    margin-left: 15px;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    background-color: #b57c5b;
    border-radius: 5px;
}

}
.price-block .market-price .price {
    display: inline-block;
    text-decoration: line-through;
}

.price-block .mall-price {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
}

.price-block .mall-price .label {
    width: 60px;
    display: inline-block;
    font-size: 14px;
    color: #333;
}

.price-block .mall-price .price {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
    color: #e70000;
}

.shangpin-info .props .prop {
    margin: 12px 2px;
}

.shangpin-info .props  .prop dl {
    height: 65px;
    line-height: 65px;
    border-bottom: 1px dashed #dcdcdc;
}

.shangpin-info .props  .prop dl dt {
    width: 80px;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    float: left;
}

.shangpin-info .props  .prop dl dd {
    margin-right: 8px;
    float: left;
    display: inline-block;
    font-size: 18px;
}

.shangpin-info .props .prop dl dd a {
    height: 24px;
    margin-top: 30px;
    padding: 12px 12px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    color: #777;
}



.control-group {
    overflow: hidden;
    font-size: 0px;
}

.control-group:after, .control-group:before {
    content: '';
    display: table;
}

.control-group .label {
    width: 80px;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
}

.control-group .input-control {
    width: 45px;
    height: 33px;
    line-height: 33px;
    outline: none;
    font-size: 18px;
    text-align: center;
    border: 1px solid #e1e1e1;
}

.control-group .group-btn {
    height: 35px;
    line-height: 35px;
    min-width: 80px;
    margin: 0px;
    color: #333;
    background-color: #f6f6f6;
    display: inline-block;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

ul.payment_list li {
    width: 130px;
    height: 56px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 2px;
    background-color: #dadada;
    cursor: pointer;
    float: left;
    position: relative;
}

ul.payment_list li.active, ul.payment_list li:hover {
    background-color: #ff2f2f;
}

ul.payment_list li img {
    width: 126px;
    height: 53px;
}

.hide_box {
    z-index: 999;
    filter: alpha(opacity = 50);
    background: #666;
    opacity: 0.5;
    -moz-opacity: 0.5;
    left: 0;
    top: 0;
    height: 99%;
    width: 100%;
    position: fixed;
    display: none;
}

.shang_box {
    width: 540px;
    height: 540px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin-left: -280px;
    margin-top: -280px;
    border: 1px dotted #dedede;
    display: none;
}

.shang_box img {
    border: none;
    border-width: 0;
}

.dashang {
    display: block;
    width: 100px;
    margin: 5px auto;
    height: 45px;
    line-height: 25px;
    padding: 10px;
    background-color: #E74851;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s;
}

.dashang:hover {
    opacity: 0.8;
    padding: 15px;
    font-size: 18px;
}

.shang_close {
    float: right;
    display: inline-block;
}

.shang_logo {
    display: block;
    text-align: center;
    margin: 20px auto;
}

.shang_tit {
    width: 100%;
    height: 75px;
    text-align: center;
    line-height: 66px;
    color: #a3a3a3;
    font-size: 16px;
    background: url('../images/cy-reward-title-bg.jpg');
    font-family: 'Microsoft YaHei';
    margin-top: 7px;
    margin-right: 2px;
}

.add-card {
    float: left;
    margin: 0 17px 20px 0;
    width: 232px;
}

.add-card a, .add-card a:visited {
    background: #fafafb none repeat scroll 0 0;
    border: 1px dashed #aaccdd;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-weight: 700;
    height: 112px;
    outline: medium none;
    overflow: hidden;
    padding: 48px 0 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-in 0s;
}

.add-card .iconfont {
    color: #a8b5c4;
    cursor: pointer;
    display: block;
    font-size: 30px;
    margin: 0 auto;
    vertical-align: -5px;
    cursor: default;
    font-family: "rei";
    font-style: normal;
    font-weight: normal;
}

.add-card a:hover {
    background: #dfeef7 none repeat scroll;
    border: 1px dashed #8599b2;
    transition: all 0.15s ease-in 0s;
}

.card-box-list {
    overflow: hidden;
    padding: 2px 0 0 2px;
}

.card-box-list .card-box {
    background: #eff0f1 none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    float: left;
    height: 160px;
    margin: 0 17px 20px 0;
    overflow: hidden;
    width: 230px;
}

.card-box-list .card-box-hover {

}

.card-box-list .card-box:hover .card-box-name, .card-box-list .card-box-hover .card-box-name
{
    background: #ffffff -moz-linear-gradient(center top, #ffffff, #e6e8eb)
    repeat scroll 0 0;
    color: #666666;
}

.card-box-list .card-box .card-box-name {
    border-radius: 4px 4px 0 0;
    height: 46px;
    position: relative;
}

.card-box-name .bank-logo {
    left: 12px;
    position: absolute;
    top: 13px;
}

.card-box-name .bank-name {
    left: 33px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 12px;
    white-space: nowrap;
    width: 84px;
}

.card-box-name .bank-num4 {
    position: absolute;
    right: 60px;
    top: 12px;
}

.card-box-name .card-type-DC, .card-box-name .card-type-CC,
.card-box-name .card-type-SCC {
    height: 18px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    text-indent: -9999px;
    top: 12px;
    width: 49px;
}

.card-box-name .card-type-DC {
    background: rgba(0, 0, 0, 0) url("../images/bankcardtype.png") no-repeat
    scroll left top;
}

.card-box-name .card-type-CC, .card-box-name .card-type-SCC {
    background: rgba(0, 0, 0, 0) url("../images/bankcardtype.png") no-repeat
    scroll left -18px;
}

.card-box-list .card-box .card-box-express {
    background: #cfd2d4 none repeat scroll 0 0;
    border-top: 1px solid #abadaf;
    height: 37px;
    margin: 0 0 15px;
}

.card-box-list .card-box .express-status {
    float: left;
    padding: 9px 0 0 10px;
}

.card-box-list .card-box .express-status .asset-icon {
    margin-right: 10px;
    vertical-align: -2px;
}

.card-box-list .card-box .express-else {
    float: right;
    padding: 9px 10px 0 0;
}

.card-box-list .card-box .card-detail {
    color: #676d70;
}

.card-box-list .card-box .card-detail .card-detail-list {
    overflow-x: hidden;
    padding: 4px 10px;
}

.card-box-list .card-box .card-detail .card-detail-list-first {
    background: #cfd2d4 none repeat scroll 0 0;
    border-top: 1px solid #abadaf;
    height: 19px;
    margin: 0 0 15px;
    padding: 9px 10px;
}

.card-box-list .card-box .card-detail .card-detail-list .card-detail-value
{
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 135px;
}

.card-box-list .card-box .card-detail .card-detail-list .card-detail-value strong
{
    font-weight: 400;
}

.card-box-list .card-box .card-detail .card-detail-list .card-detail-app
{
    float: right;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 74px;
}

.shang_tit p {
    color: #a3a3a3;
    text-align: center;
    font-size: 16px;
}

.shang_payimg {
    width: 180px;
    padding: 10px;
    border: 6px solid #EA5F00;
    margin: 0 auto;
    border-radius: 3px;
    height: 180px;
}

.shang_payimg img {
    display: block;
    text-align: center;
    width: 140px;
    height: 140px;
}

.pay_explain {
    text-align: center;
    margin: 10px auto;
    font-size: 12px;
    color: #545454;
}

.radiobox {
    width: 16px;
    height: 16px;
    background: url('../images/radio2.jpg');
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 14px;
}

.checked .radiobox {
    background: url('../images/radio1.jpg');
}

.shang_payselect {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    cursor: pointer;
    height: 60px;
    width: 280px;
}

.shang_payselect .pay_item {
    display: inline-block;
    margin-right: 10px;
    float: left;
}

.shang_info {
    clear: both;
}

.shang_info p, .shang_info a {
    color: #C3C3C3;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    line-height: 2em;
}
.comment-form {
    padding: 25px;
    border-top: 1px solid #e6ecf5;
    overflow: hidden;
}
.comment-form .post-author {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.comment-form .post-author img {
    margin-right: 10px;
    min-width: 28px;
    max-width: 28px;
    height: 28px;
    display: block;
}
.comment-form .form-group {
    margin-bottom: 12px;
    width: 100%;
    margin-left: auto;
}

.inline-items > * {
    display: inline-block;
    vertical-align: middle;
}

.custom-btn {
    padding: .8rem 2.1rem !important;
    font-size: 0.688rem !important;
    border-radius: 0.3rem !important;
}





.wrapper{

    width:1280px;
    margin:0px auto;
}
.wrapper970
{
    width:970px;
    margin:0px auto;
}
.fn-left{
    float:left;
}
.fn-right{
    float:right;
}

.full-wrapper{

    width: 100%;
    min-height: 100%;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-box-align: center;
    box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -ms-flex-pack: center;
}
/**
   窗体容器
 */
.center-wrapper{

    width: 854px;
    margin: 0 auto;
    padding-bottom: 10px;

    background: #fff;
    padding: 34px 34px 0;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    min-height: 400px;
    _height: 400px;
    text-align: center;
}


.center-wrapper  .wrapper-title{

    font-size: 22px;
    color: #333;
    line-height: 1.5;
    font-weight: bold;
    font-weight: 400;
    text-align: center;

}


.center-wrapper  .wrapper-content{

    margin:50px auto;
    width: 400px;

}

.input-pack{
    position: relative;
    height: 52px;
    margin-bottom: 10px;
    padding: 14px 0;
    border: 1px solid #dedede;
    background: #FFF;
    line-height: 24px;
}

.input-pack .title-addon{

    position: absolute;
    left: 10px;
    top: 18px;
    height: 50px;
    font: 14px/50px "sisum";
    color: #666;

}
.input-pack input[type=text],.input-pack input[type=password],.input-pack .input {
    vertical-align: middle;
    width: 100%;
    height: 24px;
    padding: 0 40px;
    border: 0 none;
    line-height: 24px;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    font-weight: 600;
    outline: none;
    box-sizing: border-box;

}



.btn-orange {
    width: 330px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    display: block;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    overflow: hidden;
    background-color: #ff6700;
    margin-top: 15px;
    border: 1px solid rgba(186,186,186,0.3);
    *border: 0 none;
    color: #fff;
}
.register-btn{

    width: 330px;
    height: 52px;
    border: 0 none;
    border-radius: 3px;
    background: #ff3c3c;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    text-shadow: 1px 1px 1px #ff7373;
    font-family: "Microsoft YaHei";
    line-height: 52px;
}

.agree-protocol{
    height: 35px;
    line-height: 35px;
    color: #666;
    text-indent: 1em;
}
/**
  登录头导航
 */
.login-head-nav{
    padding: 16px;
    background: #FFF;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 0px 0px 10px #ccc;
}

.login-system-name{
    font-size:18px;
    font-weight: 600;
    padding:12px 40px;
}
.system-logo{
    display: block;
    height: 55px;
    width: auto;
}

.login-body {
    width:100%;
    min-height: 600px;
    margin-top:50px;
}
.login-body .left-area{

    float: left;
    width:510px;
    margin-right:20px;

}

.login-body .left-area img{

    height:300px;
    width:510px;

}
.login-body .right-area{
    float:left;
}

.login-form-panel{

    width:300px;
}
.login-form-title{
    font-size:14px;
    color: #666;
    font-weight: bold;
    line-height: 30px;
}
.gray-mask{
    background:#f5f5f5;
    padding:50px 0px;
}
.huiyuan-center-panel{
    width:1288px;
    margin-left:auto;
    margin-right:auto;

}
.huiyuan-center-panel .menu-panel{
    width:234px;
    float:left;
    background:#fff;
    min-height: 600px;
}
.huiyuan-center-panel .content-panel{
    width:1045px;
    float: right;
    background:#fff;
}
.menu-panel .menu-box{
    margin: 0 48px 12px;
}

.menu-box h3,.menu-box .title{
    font-size: 16px;
    font-weight: 400;
    line-height: 52px;
    color: #333;
    margin: 0;
    padding: 0;
}
.menu-box ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-box ul li{
    padding: 6px 0;
}
.menu-box ul  li a {
    color: #757575;
}
.current-page-title{

    margin: 0;
    font-size:20px;
    font-weight: 400;
    line-height: 68px;
    color: #757575;
    padding-left:40px;
}
.filter-list{
    padding:20px 50px;

}
.filter-list  li{

    float: left;
    padding: 0 20px;
    border-left: 1px solid #e0e0e0;
    color: #757575;
}
.filter-list li a{
    color:#757575;
}
.filter-list li.first {
    padding-left: 0;
    border-left: 0;
}

.filter-list li.active a {
    color: #ff6700;
}
.order-list{
    padding:20px 50px;
}
.order-list .order-item{
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    position:relative;
}
.order-item .order-grid .summary{
    padding: 25px 30px 25px 30px;
    color: #b0b0b0;
    font-size:16px;
}

.classic-table{
    width:100%;
}
.classic-table th{

    height: 28px;
    padding: 0 30px 24px;

    font-weight: 400;
    text-align: left;
    color: #757575;
    vertical-align: bottom;
    border-bottom: 1px solid #e0e0e0;

}

.trash{

    position: absolute;
    right: 15px;
    top: 15px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    opacity:30;
    filter: alpha(opacity=0)\9;
}
.order-item:hover{
    opacity:50;
}


ul.order-list{
    padding:20px 50px;
}
ul.order-list li{
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    position:relative;
}

ul.order-list li .order-title .summary{
    padding: 25px 30px 25px 30px;
    color: #b0b0b0;
    font-size:16px;
}
ul.order-list li  .des-items
{
    width: 100%;
    clear:both;
    padding:20px 50px;
    border-bottom: 1px solid #e0e0e0;

}

ul.order-list li  .des-items .d1{
    width:70%;

}

ul.order-list li  .des-items .d2{
    width:30%;

}

/*订单项目*/
.order-item{
    width:100%;

}

/***
商品区
*/
.order-item .product-box {

    position: relative;
    height: 84px;
    width:60%;
    margin: 10px 0;
    padding: 18px 18px 18px 100px;
    line-height: 22px;
    color: #333;
}
.order-item  .product-box .figure-thumb {
    position: absolute;
    left: 0;
    top: 0;
}

.order-item  .product-box .figure-thumb  img{
    width:80px;
    height:80px;
}

.order-item .order-action{
    width:40%;
    padding:20px 40px;
}


.btn-gray{
    border-color: #b0b0b0;
    background: #fff;
    color: #757575;
}

.action-btn:hover{
    background: #ff6600;
    color:#fff;
}

.result-guide-box{

    position:relative;
    height: 400px;
}
.result-guide-box .content{
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
}
.result-guide-box .content .icon-area{
    font-size:55px;
    color:green;
    font-weight:600;
    float:left;

}
.result-guide-box .content .text-area{
    font-size:18px;
    color:green;
    float:left;
    margin-top:20px;
    margin-left:40px;

}


.url-des {
    padding: 23px;
    background-color: #fff;
    border-top: 4px solid #337ab7;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    -o-box-shadow: 0 0 1px rgba(0,0,0,0.24);
    box-shadow: 0 0 1px rgba(0,0,0,0.24);

}

.inline-items > * {
    display: inline-block;
    vertical-align: middle;
}

.btn-primary{
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}
.custom-btn {
    padding: .8rem 2.1rem !important;
    font-size: 0.688rem !important;
    border-radius: 0.3rem !important;
}

.title-section{
    border-bottom: 1px solid #ddd;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
.title-section .strong{
    border-bottom: 3px solid #F30;
    padding: 7px 10px;
    display:inline;
}
.title-section  .des{
    display:inline;
    padding:7px 10px;
    font-size:16px;

}
.exit{
   cursor:pointer;
}
.pointer{
	cursor:pointer;
}

.dw-btn{
   
    padding:0px 30px;
    display:inline-block;
    height: 52px;
    border: 0 none;
    border-radius: 3px;
    background: #10aa9c;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    text-shadow: 1px 1px 1px #ff7373;
    font-family: "Microsoft YaHei";
    line-height: 52px;
}
.dw-btn:hover{
	
	 background: #57827e;
}

.dw-sm-btn{
	height: 24px;
    margin-top: 30px;
    padding: 12px 12px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    color: #777;
}