/* CSS Document */
/*css reset*/
body,h1,h2,h3,p,li,ul,img{padding:0px;margin:0px;}
img{border:none;}
ul,li{list-style-type:none;}
a{text-decoration:none;}


.carousel{width:100%;min-height:364px;text-align:center;overflow:hidden;z-index:2}
.carousel .car-big-picture img{display:none;margin:auto;width:100%;height:505px;}
.carousel .car_click{width:1010px;height:65px;background:url(../images/background1.png);position:absolute;z-index:2;top:400px;left:22%;}
.carousel .car_click .car_c_title{width:265px;height:55px;margin-top:5px;float:left;overflow:hidden;}
.carousel .car_click .car_c_title p{font-size:22px;color:white;margin:12px 5px;width:240px;height:48px;overflow:hidden;}
.carousel .car_click .car_c_smallpic{width:740px;height:55px;margin-top:5px;float:left;}
.carousel .car_click .car_c_smallpic input{float:left;}
.carousel .car_click .car_c_smallpic img{cursor:pointer;float:left;margin:0 5px;width:76px;height:47px; border:solid 2px #fff;}
.carousel .car_click .car_c_smallpic .car_c_inpt1{width:34px;height:50px;border:0px;background:url(../images/arrow1.png);cursor:pointer;margin-right:5px;}
.carousel .car_click .car_c_smallpic .car_c_inpt2{width:34px;height:50px;border:0px;background:url(../images/arrow2.png);cursor:pointer;margin-left:5px;}
