<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.daowen.mapper.UsersMapper">   
   <!--
    <select id="findAll"   resultType="com.daowen.entity.Users" > 
        SELECT * FROM users
    </select>
      
    <insert  id="save"  parameterType="com.daowen.entity.Users">
          INSERT INTO users (id,username,password) VALUES (#{id},#{username},#{password})
    </insert>
    
    -->
</mapper>